/* common */
body {
    font-family: "ＭＳ 明朝", sans-serif;
}

/* header */
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 45px;
}

.header-top {
    width: 250px;
    margin-top: 10px;
}

.header-top button {
    width: 100%;
    border: none;
    background-color: transparent;
}

.header-top button img {
    width: 100%;
}

.header-inner-menu {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.header-inner-menu-title {
    font-size: 20px;
    color: black;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.header-inner-menu-button {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header-inner-menu-button form {
    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.header-inner-menu-button form button {
    font-size: 15px;
    color: white;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 149, 224);
    width: 80px;
    cursor: pointer;
    transition: background-color 0.2s linear, transform 0.1s linear;
}

.header-inner-menu-button form button:active {
    background-color: rgb(242, 242, 242);
    transform: translateY(2px);
}

.header-inner-menu-button form button p {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    font-weight: normal;
}

/* main */
.main-inner {
    width: 100%;
    font-size: 20px;
}

.main-inner-word,
.main-inner-word-change {
    margin-top: 5px;
    margin-left: 30px;
    line-height: 1.5;
}

.main-inner p:nth-child(2) {
    margin-top: 30px;
}

input {
    display: none;
}

.make-link-button {
    background: transparent;
    border: none;
}

/* for smart devices */
@media (max-width: 767px) {
    /* header */
    .header {
        margin-bottom: 30px;
    }
    
    .header-top {
        width: 150px;
        margin-top: 5px;
    }
    
    .header-inner-menu {
        margin-top: 5px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .header-inner-menu-title {
        font-size: 15px;
    }
    
    .header-inner-menu-button {
        margin-top: 5px;
    }
    
    .header-inner-menu-button form {
        width: 60px;
        height: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .header-inner-menu-button form button {
        font-size: 12px;
        width: 60px;
    }

    /* main */
    .main-inner {
        width: 100%;
        font-size: 15px;
    }

    .main-inner-title {
        display: none;
    }
    
    .main-inner-word,
    .main-inner-word-change {
        margin-top: 10px;
        margin-left: 15px;
        line-height: 1.5;
    }
    
    .main-inner p:nth-child(2) {
        margin-top: 15px;
    }
}
