.form-add {
    margin-top: 10px;
}

.form-add button {
    background-color: rgb(0, 149, 224);
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 25px;
}

.info-table {
    width: 60%;
    margin-top: 30px;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
}

.tr-main {
    width: 100%;
    height: 50px;
    border-top: 1px solid #ccc;
}

.tr-main td {
    text-align: center;
}

.td-name {
    width: 60%;
    font-size: 18px;
    color: black;
}

.td-detail {
    width: 40%;
}

.td-detail button {
    background-color: rgb(0, 149, 224);
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    width: 60%;
    padding: 5px;
}

.sub-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

.tr-sub {
    width: 100%;
    height: 35px;
}

.tr-sub td {
    text-align: center;
}

.td-sub-title {
    width: 40%;
    font-size: 15px;
    color: black;
}

.td-sub-data {
    width: 60%;
    font-size: 15px;
    color: black;
}

.button-table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.tr-button {
    width: 100%;
    height: 35px;
}

.tr-button td {
    text-align: center;
}

.td-button {
    width: 100%;
}

.print-button {
    /* 仮 */
    background-color: #eee;
    color: #ccc;
    border: solid;
    border-color: #eee;
    border-width: 1px;
    pointer-events: none;

    /* background-color: rgb(0, 149, 224);
    color: white; */
    font-size: 12px;
    /* border: none; */
    border-radius: 5px;
    width: 40%;
    padding: 5px;
    margin-top: 5px;
}

.td-button form button {
    background-color: rgb(0, 149, 224);
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    width: 40%;
    padding: 5px;
    margin-top: 15px;
}

/* mobile */
@media (max-width: 767px) {
    .form-add {
        margin-top: 5px;
    }

    .form-add button {
        font-size: 10px;
        border-radius: 5px;
        width: 70px;
        height: 20px;
    }

    .info-table {
        width: 80%;
        margin-top: 20px;
    }

    .tr-main {
        height: 40px;
    }

    .td-name {
        font-size: 15px;
    }

    .td-detail button {
        font-size: 10px;
    }

    .sub-table {
        margin-top: 5px;
    }

    .tr-sub {
        height: 30px;
    }

    .td-sub-title {
        width: 40%;
        font-size: 10px;
    }

    .td-sub-data {
        width: 60%;
        font-size: 10px;
    }

    .button-table {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .tr-button {
        height: 30px;
    }

    .print-button {
        font-size: 10px;
        width: 70%;
        margin-top: 5px;
    }

    .td-button form button {
        font-size: 10px;
        width: 70%;
        margin-top: 10px;
    }
}
